/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilitis*/
.container {
    max-width: 80%;
    margin: 0 auto;
}
.minicontainer{
    max-width: 70%;
    margin: 0 auto;
}
.bgc-viol{
    background-color:#9792E4;
}
img{
   max-width: 100%;
}
/*header*/
header {
    background-color: #0084FD;
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;

}
.row {
    display: flex;
    justify-content: space-between;
    border: 2px dashed slateblue;
    margin-top: 20px;
    height: 100%;
}
.col-logo,
.col-menu {
    display: flex;
    align-items: center;
}
.nav{
    display: none;
    
}

/*main card */
main {
    padding-top: 150px;
}
.row-card{   
    border: 2px dashed slateblue;
    padding-top: 20px;
}
.card{
   
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10% ;
    background-color: #B5DDFF;
}
.big-card{
   /* height: 100px;*/
    width: 100%;
    background-color: #B5DDFF;
    margin-bottom: 20px;
    
    border-radius: 10% ;
}
.file{
    color: #56AEFD;
    text-align: center;
    display: block;
    padding: 10px;
}
.tit-card{
    color:#56AEFD ;
    text-align: center;
    padding: 10px;
}
.p-big-card ,.p-card{
    color: #5A6E7F;
}
.but-card{
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin: top 10px;;
}
/* main info */
.row-main{
    border: 2px dashed slateblue; 
}
.card-inf{
   
    width: 100%;
    background-color: slateblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
.big-card-main{
    
    width: 100%;
    background-color: #fff;
    border-radius: 10% ;
    margin: 0;
    margin-bottom: 20px;
}
.col-card{
    padding: 2rem;
}
.phone{
    width: 100%;
}

/*main description*/ 
.card-descrit{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10% ;
    background-color: #9792E4;
}
.big-card-descrit{
    height: 100px;
    width: 100%;
    background-color: #B5DDFF;
    margin-bottom: 20px;
    border-radius: 10% ;
}
/* main tab */
.row-tab{
    border: 2px dashed slateblue;
}
.card-tab{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10% ;
    background-color: #B5DDFF;
}
/*main about us*/
    .big-card-about{
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #9792E4;
    }
    .card-about{
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10% ;
    background-color: #B5DDFF;
    }
    /*last main*/
    .big-card-last{
        margin: 0 auto;
        height: 200px;
        width: 80%;
        background-color: #B5DDFF;
    }
    /*footer*/
    footer{
        height: 300px;
        background-color: black;
    }
    /* responsive */
   
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }
    .row-card , .row-tab{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .big-card{
        width: 64%;
        
        margin-right: 10px;
    }
    .card{
        width: 30%;
        
        margin-right: 5px;
    }
    /* about*/
    .row-about{
        display: flex;
        justify-content: center;
        
    }
    .big-card-about{
        width: 60%;
        height: 300px;
        margin-right: 10px;
    }
    .card-about{
        width: 40%;
    }
}
 @media screen and (min-width:992px) {
          /* header */
          .container{
              max-width: 970px;
          }        
          .col-logo {
              width: 20%;
          }
          .menu {
              display: none;
          }
          .nav{
              display: flex;
          }
          .big-card{
              display: flex;
          }
          
          .phone{
              width: 50%;
          }
          .it-nav{
              list-style-type: none;
              padding: 1rem;
          }
          .it-nav:last-child{
              padding: 0;
              padding-top: 1rem ;
          }
          .row-main{
              display: flex;
              justify-content: center;
          }
          .card-inf{
              width: 40%;
          }
          
          .big-card-main{
              width: 40%;
             margin-top: 100px;
          }
          .card-tab{
            width: 30%;
        } 
      }